#!/bin/bash
# Copisterio mt's main configuration
#
#   This file is part of Copisterio.
#
#       Copisterio is free software: you can redistribute it and/or modify
#       it under the terms of the GNU General Public License as published by
#       the Free Software Foundation, either version 3 of the License, or
#       (at your option) any later version.
#
#       Copisterio is distributed in the hope that it will be useful,
#       but WITHOUT ANY WARRANTY; without even the implied warranty of
#       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#       GNU General Public License for more details.
#
#       You should have received a copy of the GNU General Public License
#       along with Copisterio.  If not, see <http://www.gnu.org/licenses/>.
LOGDIR="/var/log/copisterio"
LOGFILE="mt.err"
mediadir=`cat /etc/copisterio/main.ini|grep media|cut -d\= -f1`
