div.img{
	height: auto;
	width: auto;
	float: none;
	text-align: center;
	border: 4px dashed;
	border-color:#ffffff;
	}

body {
	background:#c0c0c0;
	color:#000000;
}

p {
	display:table;
	margin-left:auto;
	margin-right:auto;
	border:4px dashed;
	border-color: #ffffff;
}